<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Coretus</title>
    <link rel="shortcut icon" href="icon.png">
    <link href="https://modesta.alexflipnote.dev/css/modesta.css" type="text/css" rel="stylesheet">
    <script src="https://modesta.alexflipnote.dev/js/modesta.js" type="text/javascript" charset="utf-8"></script>
    <link href="https://modesta.alexflipnote.dev/css/twemoji.css" type="text/css" rel="stylesheet">

<!-- Blobcat version | 27.1 KB -->
<link href="https://modesta.alexflipnote.dev/css/blobcat.css" type="text/css" rel="stylesheet">
</head>



 <body>
    {{{body}}}
    
</body>

</html>