<center><h1><i class="emoji blobcat"></i> Tus Datos {{user.username}}</h1></center>

<div>
    <center><h2>Tag: {{user.username}}#{{user.discriminator}}</h2></center>
    <center><h3>ID: {{user.id}}</h3></center>

    <center> <a href="/perfil" class="btn animation amethyst-dropshadow">Regresar</a> </center>
</div>