<link href="https://modesta.alexflipnote.dev/css/modesta.css" type="text/css" rel="stylesheet">
<script src="https://modesta.alexflipnote.dev/js/modesta.js" type="text/javascript" charset="utf-8"></script>
<link href="https://modesta.alexflipnote.dev/css/twemoji.css" type="text/css" rel="stylesheet">
 <body class="github-font-standard" style="overflow: visible;">
  
  
<!-- Parte de arribita xD -->
  <section class="parallax-container">
    <div class="parallax medium" style="background-image: url('https://cdn.discordapp.com/attachments/814510581260353596/830514519935025202/bg.gif'); opacity: 0.4;"></div>
      <div class="content">
        <div class="box-container center-flex">
          <div class="me unset">
            <img draggable="false" loading="lazy" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}?size=1024" class="image-title">
            <div class="unset">
              <h1 class="title color-text-flow"><span class="color-animate">{{user.username}}</span></h1>
              
            </div>
        </div>
      </div>
      <div class="button one-line">
        <a href="/perfil/datos" class="btn secondary">datos</a>
        <a href="/" class="btn orange">Salir</a>
      </div>
    </div>
  </section>

 <section class="container">
  
            
        </div>
      </div>
      <div class="col-xs">
        <div class="box-container primary">
          <h5 class="center-text">Datos</h5>
          <p class="center-text">Idioma: <span><b class="custom-color">{{user.locale}}</b></span></p>
          <p class="center-text">Factor doble: <span><b class="custom-color">{{user.mfa_enabled}}</b></span></p>
        </div>
      </div>
     